<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/editProfileData.min.css">
    <title>Document</title>
</head>
<body>
    <%- include("partials/header") %>
      <main>
          <form action="/profile/<%=user.name%>" method="POST">
              <div class="text_form">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<%=user.name%>" placeholder="Abdulrahman">
                 <label for="bio">Bio</label>
                <textarea name="bio" id="bio" cols="10" maxlength="30" rows="3" placeholder="I am a software developer"><%=user.bio%></textarea>
                <button type="submit">Set</button>
              </div>
              <!--
              <div>
                <div class="user_image"><img src="/images/user.jpeg" alt="user image">
                    <input type="file">
                </div>
              </div>
              -->
          </form>
      </main>
      <%-include(partials/footer)%>
      <script defer src="Js/header.js"></script>
    </body>
</html>