<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/function.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <title>Function</title>
</head>
<body>
     <%-include("partials/header.ejs")%>
      <main>
        <div class="function_info">
          <div class="function_name" id="function_name">
            <h2></h2>
          </div>
          <div class="function_lang" id="function_lang"></div>
        </div>
        <div class="function_area" id="function_area">
         <table class="function_table" id="function_table">
         </table>
        </div>
        <section class="implementer_info">
          <!--
          <a href="/<%=visitor.name%>">
            <div class="implementer_img img_container"><img src="/images/user.jpeg" alt="implementer"></div>
          </a>
          -->
          <p class="implementer_name">by: <strong><a href="/profile/<%=visitor.name%>"><%=visitor.name%></a></strong></p>
        </section>
      </main>
      <%-include(partials/footer)%>
      <script defer src="/Js/header.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="/Js/function.js" ></script>
</body>
</html>