<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/profile.min.css">
    <title>Function</title>
</head>
<body>
    <%-include("partials/header.ejs")%>
      <main>
        <section class="user_info">
          <!--
          <div class="profile_img img_container">
              <img src="images/user2.jpeg" alt="profile image">
          </div>
          -->
          <div class="text">
            <p class="user_name"><%=visitor.name%></p>
            <div>
              <%=user.bio%>
            </div>
            <%if(visitor.name == user.name){%>
            <span class="edit link"><a href="/profile/<%=user.name%>/edit">Edit Profile</a></span>
            <%}%>
          </div>
        </section>
        <%if(Object.keys(functions).length == 0){%>
          <div class="emptycase_message">
          <a href="/function/implement" >Publish your first function +</a>
        </div>
        <%}%>
        <section class="implemented_functions functions_display">
        <%functions.forEach((function_box) => {%>
          <article class="function">
            <a href="/function/<%=function_box._id%>">
              <header class="function_title">
                <h1><%=function_box.name%></h1>
              </header>
              <p class="function_info"><%=function_box.description%></p>
              <span class="function_lang"><%=function_box.lang%></span>
            </a>
          </article>   
        <%})%>
        </section>
      </main>
      <%-include(partials/footer)%>
      <script defer src="Js/header.js"></script>
</body>
</html>